[submodule "src/patch/native/inih"]
	path = src/patch/native/inih
	url = https://github.com/benhoyt/inih.git
[submodule "src/patch/native/luajit"]
	path = src/patch/native/luajit
	url = http://luajit.org/git/luajit-2.0.git
